// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$footer-background: #fafafa;
$alignment: center;
$adjustable-size: 10px;

// %marginTop {
//   margin-top: 30px;
// }

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

  .hope_fullpage {
    min-height: 100%;
    padding-top: 20px + $adjustable-size;
    padding-bottom: 60px - $adjustable-size;
  }

  // .certain {
  //   @extend %marginTop;
  // }

  .footer {
    width: 100%;
    text-align: $alignment;
    height: 80px;
    background: $footer-background;
    border-top: solid 1px #eee;

    // p {
    //   @extend %marginTop;
    //   padding: 0px auto;
    // }
  }
}

.pagination .active a {
  font-family: ‘Open Sans’, Arial, serif !important;
  border: 1px solid #28a745!important;
  color: #ffffff !important;
  background-color: #28a745!important;
}

.icon-cog {
  color: #28a745!important;
  padding-top: 6px;
  margin-left: 2px;
  font-size: 1.6rem !important;
}

.border_color {
  color: #28a745 !important;
  border: 1px solid #28a745;
}

.search_form {
  margin-top: 3px;
}
